/*Fonts & Common Styles*/
:root {
  --iron: #9c9c9c; /*secondary text & surface/card backgrounds*/
  --smoke: #F6F4F4; /*primary text & headers*/
  --onyx: #0A0A0A; /*page background*/
  --glaucous: #6987c9; /*accents and highlights*/
  --navHeight: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
  background-color: var(--onyx);
  color: var(--smoke);
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

h1, h2, h3 {
  font-family: "Audiowide", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}



footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-bot {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*Animations*/

@keyframes load-in {
  0% {opacity: 0; transform: translateY(40px)}
  25% {opacity: 0; transform: translateY(40px)}
  50% {opacity: 0; transform: translateY(40px)}
  75% {opacity: 0; transform: translateY(40px)}
  100% {opacity: 1; transform: translateY(0)}
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }

  .is-visible {
    opacity: 1;
    transform: none;
    translate: none;
    transition: none;
  }
}