/*Fonts & Common Styles*/
@font-face {
  font-family: 'Rumutocu';
  src: url('/fonts/rumutocu/Rumutocu-nMpg.ttf');
}

@font-face {
  font-family: 'Clubbed';
  src: url('/fonts/clubbedToLife/ClubbedToLife-aemJ.ttf');
}

:root {
  --iron: #444545;
  --smoke: #F6F4F4;
  --onyx: #0A0A0A;
  --glaucous: #6987c9;
  --navHeight: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Clubbed', Arial, Helvetica, sans-serif;
  background-color: var(--onyx);
  color: var(--smoke);
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

h1, h2, h3 {
  font-family: 'Rumutocu', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*Nav Styles*/

  /*Desktop*/
.navLinks {
  display: flex;
}

.navLinks a {
  text-decoration: none;
  padding: 25px;
  font-size: 20px;
  font-weight: 300;
  color: var(--smoke);
  margin: 0 5px 0 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--navHeight);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--iron);
  padding: 1rem 2rem;
}

  /*Mobile Nav*/

.mobileNav {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.mobileNav span {
  width: 25px;
  height: 3px;
  background: var(--smoke);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navLinks {
    position: fixed;
    top: 40px;
    left: 0;
    background-color: var(--iron);
    flex-direction: column;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 5000;
    border-radius: 0 0 0 10px;
  }

  .navLinks.open {
    max-height: 700px;
    opacity: 1;
    transform: translateY(0);
    padding: 1rem 0;
    z-index: 5000;
  }

  .navLinks button {
    text-align: center;
    margin: 10px 0;
  }

  .mobileNav {
    display: flex;
  }
}

footer {
  display: flex;
  justify-content: space-evenly;
}

/*Animations*/

@keyframes load-in {
  0% {opacity: 0; transform: translateY(40px)}
  25% {opacity: 0; transform: translateY(40px)}
  50% {opacity: 0; transform: translateY(40px)}
  75% {opacity: 0; transform: translateY(40px)}
  100% {opacity: 1; transform: translateY(0)}
}